.feature-wrapper-home {
    text-align: center;
  }
  
  .feature-title-home,
  .feature-title-browse {
    color: white;
    max-width: 640px;
    font-size: 50px;
    font-weight: 700;
    margin: auto;
  }
  
  .feature-title-browse {
    margin: initial;
    line-height: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    margin-bottom: 20px;
  }
  
  @media (max-width: 550px) {
    .feature-title-home,
    .feature-title-browse {
      font-size: 30px;
    }
  }
  
  .feature-subtitle-home,
  .feature-subtitle-browse {
    color: white;
    font-size: 26px;
    font-weight: normal;
    margin: 16px auto;
  }
  
  .warning {
    color: white;
    font-size: 26px;
    font-weight: normal;
    margin: 16px auto;
    border: solid red;
    width: fit-content;
    padding: 10px;
  }
  
  .feature-subtitle-browse {
    max-width: 640px;
    margin: initial;
    font-size: 22px;
    line-height: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  }
  
  @media (max-width: 550px) {
    .feature-subtitle-home,
    .feature-subtitle-browse {
      font-size: 18px;
    }
  }
  
  