.row{
    margin-left: 20px;
    color: #fff;
   
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    max-height: 150px;
    margin-right: 10px;
    object-fit: contain;
    width: 100%;
    transition: transform 45rem;
    
}
.poster:hover{
    transform: scale(1.08);
    opacity: 1;
}

.poster_large{
    max-height: 250px;
    padding: 5px;
    border-radius: 8px;
}

.poster_large:hover{
    transform: scale(1.08);
    opacity: 1;
}